
@{
	ViewBag.Title = "UploadFile";
}
<div class="col-md-12">
	<img src="~/Content/Images/upload.png" width="100%" height="260" title="Welcome" />
</div>
<p>.</p>
<div class="container row">
	<div class=" col-md-4">
		@using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
		{
			@Html.TextBox("file", "", new { type = "file" }) <br />
			<p> Only .mp3 file format!!</p>
			<input type="submit" value="Upload" />
			@ViewBag.Message
		}
	</div>
</div>

